form {
  p {
    color: #fff;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  & > .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    label {
      padding-bottom: 20px;
      margin: 0;
      position: relative;
      width: 100%;
      &:has(input[requiredD="true"])::before {
        content: "*";
        display: block;
        color: red;
        position: absolute;
        width: 0px;
        height: 0px;
        top: 3px;
        left: 5px;
      }
      input {
        width: 100%;
        padding: 5px 5px 5px 15px;
        border: 1px solid transparent;
        outline: none;
        &::placeholder {
          color: var(--primary-color1);
          text-transform: capitalize;
        }
      }
      &:nth-child(3) {
        width: calc(50% - 120px);
        min-width: 100px;
      }
      &:nth-child(4) {
        width: 110px;
        input {
          width: 70px;
        }
      }
      span {
        position: absolute;
        bottom: 0;
        color: #f99;
        left: 0;
      }
      p {
        margin: 0 0 5px 10px;
        text-transform: capitalize;
      }
      &:has(p)::before {
        left: 0 !important;
        top: -1px !important;
        color: #f33 !important;
      }
    }

    .radio {
      width: calc(50% - 10px);
      label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        p {
          display: inline-block;
          width: fit-content;
        }
        input {
          position: relative;
          top: -2px;
          width: fit-content;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .form > .row {
    justify-content: space-between;
    label {
      &:nth-child(3) {
        width: calc(100% - 120px);
        min-width: 100px;
      }
      &:nth-child(4) {
        width: fit-content;
        white-space: nowrap;
        span {
          right: 0;
        }
      }
    }
    .radio {
      width: 100%;
    }
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .form > .row {
    justify-content: space-between;
    label {
      &:nth-child(3) {
        width: calc(50% - 85px);
        min-width: 100px;
      }
      &:nth-child(4) {
        width: fit-content;
        white-space: nowrap;
        span {
          right: 0;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .form > .row {
    label {
      width: calc(50% - 5px);
      &:nth-child(3) {
        width: calc(50% - 85px);
      }
    }
    .radio {
      width: calc(50% - 45px);
    }
  }
}
